 
<a [routerLink]="['/take']" > take </a><br>
<a [routerLink]="['/take-until']" > take until </a><br>
<a [routerLink]="['/concat']" > concat </a><br>
<a [routerLink]="['/merge']" > merge </a><br>
<a [routerLink]="['/concat-all']" > concat all </a><br>
<a [routerLink]="['/merge-all']" > merge all </a><br>
<a [routerLink]="['/switch-all']" > switch all </a><br>
<a [routerLink]="['/skip']" > skip</a><br>
<a [routerLink]="['/start-with']" > start with</a><br>
<a [routerLink]="['/combine-latest']" > combine latest</a><br>
<a [routerLink]="['/zip']" > zip</a><br>
<a [routerLink]="['/with-latest-from']" > with latest from</a><br>
<a [routerLink]="['/scan']" > scan</a><br>
<a [routerLink]="['/buffer']" > buffer</a><br>
<a [routerLink]="['/buffer-count']" > buffer count</a><br>
<a [routerLink]="['/buffer-time']" > buffer time</a><br>
<a [routerLink]="['/buffer-toggle']" > buffer toggle </a><br>
<a [routerLink]="['/buffer-when']" > buffer when </a><br>
<a [routerLink]="['/delay']" > delay </a><br>
<a [routerLink]="['/delay-when']" > delay when </a><br>
<a [routerLink]="['/debounce-time']" > debounce time </a><br>
<a [routerLink]="['/debounce']" > debounce </a><br>
<a [routerLink]="['/throttle-time']" > throttle time </a><br>

<router-outlet></router-outlet>